
.video-big {
    border:none;
    overflow:hidden;
    width:130%; 
    height:110vh; 
    padding: 0;
    margin:0;
    position: fixed;
    top: -5vh;
    left: -10vw;
    scroll-behavior: none;
}

.blocker {
    width: 110vw;
    height: 110vh;
    position: fixed;
    top: -5vh;
    left: -5vw;
    z-index: 100;
}