
body {
margin: 0;
padding: 0;
width: 100%;
height: 3000px;
background-color:white;
}

a {
    text-decoration: none;
    text-emphasis-style: none;
    color:white;
}

.draggable {
width: 490px;
height: 280px;
background-color: none;
color: white;
display: flex;
align-items: center;
justify-content: center;
border-radius: 8px;
position: fixed;
cursor: grab; /* Cursor indicates that the element can be dragged */
z-index: 100;
}

img {
    z-index: -100;
    width: 500px;
    height: 500px;
    }

.coordinates {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-family: Arial;
    font-size: 35px;
    color: white;
    background-color: black;
    z-index: 50;
}

#clock {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-family: sans-serif;
    font-size: 35px;
    color: white;
    background-color: black;
    z-index: 50;
}

.info{
    position: fixed;
    top: 10px;
    left: 10px;
    font-family: sans-serif;
    font-size: 35px;
    color: white;
    text-emphasis-style: underline;
    background-color: black;
    z-index: 50;
}

.contact{
    position: fixed;
    top: 10px;
    right: 10px;
    font-family: sans-serif;
    font-size: 35px;
    justify-content: right;
    align-items: flex-end;
    text-align: right;
    color: white;
    text-emphasis-style: underline;
    background-color: black;
    z-index: 50;
    padding-right: 6px;
}

.contact:hover{
   cursor: pointer;
    
}
.blocker2 {
position: absolute;
background: transparent;
width: 510px;
height: 510px;
z-index: 200;
}


.product-container{
    padding-top: 100px;
    display: flex; 
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    flex-direction: column;
    height: 700px;
    width: calc(100% - 20px);
    left: 10px;
    background-color: none;
    justify-content: center;
}


.product-image {
    position: relative;
    top:0;
    width: auto;
    height: 100%;
    z-index: 10;
}
.product-image {
    width: auto;
    height: 100%;
}

#product-component-1725820621110{
position: relative;
padding: none;
width: 213px;
color: black;
background-color: none;
font-family: Arial, Helvetica, sans-serif;
}

#product-component-1725842699933{
    position: relative;
    padding: none;
    width: 213px;
    color: black;
    background-color: none;
    font-family: Arial, Helvetica, sans-serif;
    }

    #product-component-1725842699933{
        position: relative;
        padding: none;
        width: 213px;
        color: black;
        background-color: none;
        font-family: Arial, Helvetica, sans-serif;
        }
    .contact-info {
        position: fixed;
        display: grid;
        place-items: center;
        height: 100vh;
        width: 100vw;
        font-size: 9vw;
        z-index: 75;
        color: white;
        background-color: black;
        top: 10vw;
        display: flex; 
        font-family: sans-serif;
        padding-left: 10px;

    }

.item-info {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

.arrows {    
    position: relative;
    display: flex; 
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: none; 
}

.arrows-image {
    width: 35vw; height: auto; position: relative;

}

@media screen and (max-width: 600px) {

.coordinates {
    font-size: 18px;
        }

#clock {
    font-size: 18px;
        }

.info{
    font-size: 18px;
        width: 50%;}

img {
z-index: -100;
width: 250px;
height: 250px;
}

.blocker2 {
position: absolute;
background: transparent;
width: 310px;
height: 310px;
z-index: 200;
}

.draggable {
width: 240px;
height: 145px;
}

.product-image {
    width: 100%;
}

.contact{
    font-size: 18px;
}

.product-container{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 180px;
    display: flex; 
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    flex-direction: column;
    height: auto;
    width: calc(100%-20px);
    left: 10px;
    font-size: 18px;
}

.arrows {
    position: relative; 
    display: flex; 
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.arrows-image {
    width: 80vw;
    height: auto;
}

.contact-info {
    padding-left: 10px;
    top:25vh;
    font-size: 50px;
}

.item-info {
    font-size: 18px;
}